<ng-container>
    <div class="container">
        <div class="overlay"></div>
        <img class="full-image" src="assets/coding.jpg" />
        <div class="header">
            <h1>Adam Poper</h1>
            <h2>Software Engineer | Follett School Solutions <img src="assets/follett.png" /></h2>
            <img class="profile-pic" src="assets/adaminnyc.png" />
            <span>
                <a [href]="email">
                    <img class="icon" src="assets/mail.png" />
                </a>
                <a [href]="linkedIn" target="_blank">
                    <img class="icon" src="assets/linkedin.png" />
                </a>
                <a [href]="facebook" target="_blank">
                    <img class="icon" src="assets/facebook.png" />
                </a>
                <a [href]="instagram" target="_blank">
                    <img class="icon" src="assets/gram.png" />
                </a>
            </span>
        </div>
    </div>
</ng-container>