<div class="container">
    <div class="slideshow-container">
        <div class="slideshow" *ngIf="photos$ | async as photos">
            <div
                class="slides"
                *ngFor="let photo of photos; let i = index" 
                [class.active]="i === currentIndex"
            >
                <img [src]="photo.buffer" alt="Photo" />
                <div class="overlay-text">
                    <h1>
                        Photos
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item" *ngFor="let photo of photos$ | async">
            <img [src]="photo.buffer" alt="Photo" />
        </div>
    </div>
</div>
  